.tarea-formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px 16px;
}

.tarea-input {
  width: 70%;
  font-size: 14px;
  background-color: white;
  padding: 14px 32px 14px 16px;
  border-radius: 12px;
  border: 1px solid #00471b;
  outline: none;
}

.tarea-boton {
  padding: 12px;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  outline: none;
  background-color: #0E8388;
  color: white;
  text-transform: capitalize;
}